/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #4F709C;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #2f311b;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #30507a;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #31527e;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #30507a;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .section{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .section{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #30507a;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #FAF8EF;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #2d4664;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
.sidebar .profile-details a:hover{
  position: absolute
  ; 
}
:root {
	--clr-primary: #f7cc8b;
	--clr-primary-hover: #f5a227;
	--clr-primary-hover: ;
	--transition: 0.5s ease;
}
body {
	font-family: "Poppins", sans-serif;
  position: relative;
	padding: 8rem 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    min-height: 100vh;
    background: #E3F2FD;
  }
  
* {
	margin: 0;
	box-sizing: border-box;
}
.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
	gap: 1.5rem;
}
.hoverbox {
  text-align: justify;
	position: relative;
	background: hsla(221, 32%, 35%, 0.9);
	padding: 32px 28px;
	overflow: hidden;
	border-radius: 0px;
	transition: 0.35s ease-in;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: auto;
		right: 0;
		width: 0%;
		height: 0.35rem;
		background: var(--clr-primary);
		transition: var(--transition);
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: var(--transition);
		filter: blur(1px) saturate(0);
	}
	h3 {
		font-size: 1.25rem;
		font-weight: 600;
		color: #fff;
		margin-bottom: 1rem;
	}
	p {
		color: rgba(255, 255, 255, 0.8);
		margin-bottom: 1.125rem;
		font-weight: 300;
	}
	a {
		position: relative;
		color: #fff;
		text-decoration: unset;
		text-transform: uppercase;
		font-size: 0.875rem;
		font-weight: 600;
		letter-spacing: 0.05em;
		transition: color 0.35s;
		&:after {
			content: ">";
			display: inline-flex;
			align-items: center;
			justify-content: center;
			margin-left: 1rem;
			border: 2px solid #fff5;
			border-radius: 50%;
			width: 1.5rem;
			height: 1.5rem;
			transition: all 0.35s, color 0s;
		}
		&:before {
			content: "";
			position: absolute;
			width: 0rem;
			height: 0.125rem;
			background: #fff;
			right: 0.75rem;
			top: calc(50% - 0.025rem);
			transition: 0.35s;
		}
	}
	&:hover {
		background: hsla(219, 28%, 41%, 0.75);
		box-shadow: 0px 16px 24px rgba(0, 15, 0, 0.1);
		&:after {
			width: 100%;
			left: 0;
			right: auto;
		}
		& a:after {
			border-color: transparent;
			margin-left: 2rem;
			transition: all 0.35s, color 0s;
		}
		& a:before {
			width: 1.5rem;
			background: var(--clr-primary);
		}
		& a {
			color: var(--clr-primary);
			&:hover {
				color: var(--clr-primary-hover);
				&:before {
					background: var(--clr-primary-hover);
				}
			}
		}
		img {
			transform: scale(1.2) rotate(-5deg);
			filter: blur(8px) saturate(0);
		}
	}
}
.background{
  position: absolute;
  font-size: 200px;
  top: 13%;
  left: 17%;
  z-index: -1;
  opacity: 0.2;
  color: rgb(106, 91, 192);
}
.profile-btn {
  background-color: #30507a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}